<div class="wrapper">
    <section class="club-container">
        <div class="club-info">
            <h1>John Teller</h1>
            <h3>SAMCRO - First Nine</h3>
            <hr>
            <p>John Teller é pai de Jackson "Jax" Teller, um dos personagens principais da série. A morte de John Teller antes dos eventos da série é um ponto crucial na trama, uma vez que suas memórias, escritos e filosofias continuam a afetar as escolhas e os dilemas enfrentados por Jax Teller, bem como pelo clube como um todo. John Teller acreditava que o clube deveria manter sua integridade e originalidade, evitando ser corrompido pelas atividades criminosas e mantendo-se fiel aos princípios originais do SAMCRO.</p>
    </div>
    <div class="club-logo">
        <img [src]="memberPhoto" alt="Foto de John Teller sentado a mesa com a sua esposa e mãe de jax a suas costas">
    </div>
</section>
</div>