<div class="wrapper">
    <section class="club-container">
        <div class="club-info">
            <h1>Filip "Chibs" Telford</h1>
            <h3>SAMCRO - SGT of Arms</h3>
            <hr>
            <p>Chibs é conhecido por sua natureza calma e racional, frequentemente servindo como conselheiro sábio para outros membros do clube. Ele é habilidoso em resolver conflitos e tomar decisões sensatas, buscando manter a paz internamente e proteger os interesses do clube. Sua experiência e habilidades táticas também o tornam um membro valioso durante as situações mais perigosas e difíceis enfrentadas pelo SAMCRO.</p>
            <p>O apelido "Chibs" deriva de suas cicatrizes faciais, que foram resultado de um ataque anterior. Chibs é um membro leal e respeitado do SAMCRO, atuando como secretário do clube e, posteriormente, como vice-presidente. Ele nasceu na Escócia e tem um sotaque distintivo, o que contribui para sua singularidade no grupo.</p>
    </div>
    <div class="club-logo">
        <img [src]="memberPhoto" alt="Filip Trelford">
    </div>
</section>
</div>