<div class="wrapper">
    <section class="club-container">
        <div class="club-info">
            <h1>Byz-Lats</h1>
            <h3>Byz-Lats</h3>
            <hr>
            <p>Os Byz-Lats são uma gangue latina que estabeleceu uma amizade sólida e duradoura com o SAMCRO. Essa ligação é especialmente notável por meio da relação de amizade entre o líder dos Byz-Lats e o líder do SAMCRO. Juntos, eles compartilham um objetivo ousado e incomum: buscar uma saída da vida de ilegalidade e encontrar maneiras de melhorar suas comunidades. Ao invés de serem retratados como inimigos ou rivais, os Byz-Lats e o SAMCRO trabalham juntos em várias empreitadas, unindo esforços para implementar mudanças positivas e genuínas em suas respectivas esferas de influência. Essa aliança destaca como, em meio ao cenário turbulento das gangues, relações verdadeiras e metas nobres podem florescer mesmo nas circunstâncias mais difíceis..</p>
        </div>
        <div class="club-logo">
            <img [src]="clubLogo" alt="Personagem Romero Padilla membro chefe dos Byz-Lats">
        </div>
    </section>
</div>