<div class="wrapper">
    <section class="club-container">
        <div class="club-info">
            <h1>One Niners</h1>
            <h3>One Niners</h3>
            <hr>
            <p>Os One-Niners são uma gangue afro-americana envolvida no tráfico de drogas e outras atividades criminosas. No entanto, ao contrário de muitas gangues rivais, os One-Niners são uma das poucas facções que mantêm uma relação de confiança com o SAMCRO. Embora a competição por território e influência ocasionalmente gere tensões, as alianças entre os One-Niners e o SAMCRO são mais estáveis, frequentemente resultando em colaborações estratégicas. Essa parceria oferece benefícios mútuos nos negócios ilícitos, permitindo que ambas as gangues afirmem suas posições no submundo do crime com uma abordagem mais cooperativa do que confrontacional..</p>
        </div>
        <div class="club-logo">
            <img [src]="clubLogo" alt="Tyler Yost líder dos One Niners">
        </div>
    </section>
</div>