<div class="wrapper">
    <section class="club-container">
        <div class="club-info">
            <h1>Clarence "Clay" Morrow</h1>
            <h3>SAMCRO - First Nine</h3>
            <hr>
            <p>Clay Morrow é um líder carismático, porém controverso, do clube. Ele é casado com Gemma Teller Morrow, a mãe de Jax Teller, e tem uma influência significativa no SAMCRO. Durante grande parte da série, Clay é retratado como um homem astuto e implacável, disposto a fazer o que for necessário para proteger os interesses do clube, mesmo que isso envolva atividades criminosas.</p>
    </div>
    <div class="club-logo">
        <img [src]="memberPhoto" alt="Clay Morrow">
    </div>
</section>
</div>