<div class="wrapper">
    <section class="club-container">
        <div class="club-info">
            <h1>Aryan Brotherhood</h1>
            <h3>AB</h3>
            <hr>
            <p>A Aryan Brotherhood é uma gangue de extremistas supremacistas brancos que carregam consigo uma ideologia de ódio racial. Eles estão fortemente envolvidos em atividades criminosas, incluindo tráfico de drogas e violência. O SAMCRO, ciente da ameaça que a AB representa para sua comunidade, agiu para expulsá-los de Charming devido à natureza perigosa e ideológica dessa gangue. A rivalidade entre o SAMCRO e a Aryan Brotherhood é marcada por confrontos violentos e pelo desejo do clube de proteger a cidade contra a influência prejudicial dessa gangue de extremistas.</p>
    </div>
    <div class="club-logo">
        <img [src]="clubLogo" alt="Personagem AJ Weston membro da AB">
    </div>
</section>
</div>