<main>
    <mat-toolbar>
        <button mat-icon-button class="icon" aria-label="Example icon-button with menu icon" (click)="menuClick()">
          <mat-icon>menu</mat-icon>
        </button>
        <span>Sons of Anarchy</span>
        <button mat-icon-button class="icon" aria-label="Example icon-button with share icon" (click)="shareFunction()">
          <mat-icon>share</mat-icon>
        </button>
      </mat-toolbar>
    <img [src]="bannerPath" alt="banner Sons of Anarchy">

    <div class="pWrapper">
        <p class="left">"Sons of Anarchy" ou SOA é uma série de televisão que se concentra nas atividades do clube de motociclistas ilegais chamado "Sons of Anarchy Motorcycle Club, Redwood Original" (SAMCRO), localizado na cidade fictícia de Charming, na Califórnia. A série segue os membros do clube enquanto eles se envolvem em uma variedade de atividades criminosas, incluindo tráfico de armas, contrabando de drogas e negócios ilegais, ao mesmo tempo em que lidam com questões pessoais e conflitos internos.</p>
        <img [src]="anarchy" alt="Imagem Promocional da série Sons of Anarchy">

    </div>

    <div class="pWrapper">
        <img [src]="anarchy2" alt="Imagem Promocional da série Sons of Anarchy">
        <p class="right">A guerra entre gangues rivais é uma parte importante da trama da série. O SAMCRO frequentemente se encontra em conflito com várias gangues e grupos rivais, incluindo os Mayans Motorcycle Club, os Nordic Kings Motorcycle Club, os One-Niners (uma gangue afro-americana), os Aryan Brotherhood (uma gangue de supremacia branca) e os Galerias (uma gangue mexicana). Esses conflitos resultam em uma série de batalhas, alianças instáveis e traições ao longo das temporadas.</p>
    </div>
    
    <div class="pWrapper">
        <p class="left">A rivalidade entre os diferentes grupos muitas vezes é agravada por questões territoriais, interesses comerciais e diferenças culturais, criando um ambiente tenso e perigoso para os personagens. A série explora as complexas dinâmicas desses conflitos, bem como as consequências emocionais e morais para os membros do SAMCRO e aqueles ao seu redor.</p>
        <img [src]="anarchy3" alt="Imagem Promocional da série Sons of Anarchy">
    </div>


<h2>Clique nos botões abaixo e saiba mais sobre os grupos rivais de Sons of Anarchy</h2>

<div class="links">
    <a mat-flat-button routerLink="/samcro">SAMCRO</a>
    <a mat-flat-button routerLink="/mayans">Mayans MC</a>
    <a mat-flat-button routerLink="/grimBastards">Grim Bastards</a>
    <a mat-flat-button routerLink="/oneNiners">One Niners</a>
    <a mat-flat-button routerLink="/AB">Aryan Brotherhood</a>
    <a mat-flat-button routerLink="/byzLats">Byz-Lats</a>
    <a mat-flat-button routerLink="/triads">Chinese Triads</a>
</div>

<router-outlet></router-outlet>

<h2>Personagens Principais</h2>

<div class="links">
    <a mat-flat-button [routerLink]="['', {outlets: { members: ['john'] }}]">John Teller</a>
    <a mat-flat-button [routerLink]="['', {outlets: { members: ['jax'] }}]">Jax Teller</a>
    <a mat-flat-button [routerLink]="['', {outlets: { members: ['clay'] }}]">Clay Morrow</a>
    <a mat-flat-button [routerLink]="['', {outlets: { members: ['filip'] }}]">Filip Telford</a>
</div>

<router-outlet name="members"></router-outlet>

</main>
<footer>
    Desenvolvido por Luiz Felipe Selau
</footer>