<div class="wrapper">
    <section class="club-container">
        <div class="club-info">
            <h1>Grim Bastards</h1>
            <h3>Grim Bastards Motorcycle Club</h3>
            <hr>
            <p> O Grim Bastards é um clube de motociclistas formado por homens afro-americanos, e sua relação com o SAMCRO é fundamentada em uma amizade sólida de longa data. Ao contrário das tensões frequentes entre muitas gangues, os Grim Bastards são uma exceção notável. Eles têm uma ligação profunda com o SAMCRO, trabalhando juntos em várias empreitadas ilícitas e enfrentando desafios juntos. A confiança mútua entre esses dois grupos é um fator crucial para sua colaboração bem-sucedida, e essa parceria acrescenta uma dimensão única à trama da série, explorando como amizades inquebrantáveis podem prosperar mesmo em um mundo repleto de rivalidades.</p>
        </div>
        <div class="club-logo">
            <img [src]="clubLogo" alt="Símbolo do Clube Grim Bastards">
        </div>
    </section>
</div>