<div class="wrapper">
    <section class="club-container">
        <div class="club-info">
            <h1>Sons of Anarchy Motorcycle Club, Redwood Original</h1>
            <h3>SAMCRO</h3>
            <hr>
            <p>O clube central da série, o SAMCRO é uma gangue de motociclistas ilegais com sede em Charming. Eles estão envolvidos em atividades criminosas como contrabando de armas e tráfico de drogas, enquanto tentam manter o controle sobre seu território e proteger os interesses do clube. A lealdade e a fraternidade entre os membros são fundamentais, mas também enfrentam desafios internos e externos que testam seus limites.</p>
    </div>
    <div class="club-logo">
        <img [src]="clubLogo" alt="Símbolo do clube SAMCRO">
    </div>
</section>
</div>