<div class="wrapper">
    <section class="club-container">
        <div class="club-info">
            <h1>Chinese Triads</h1>
            <h3>Chinese Triads</h3>
            <hr>
            <p>As Chinese Triads, também conhecidas como tríades chinesas, representam uma facção intrigante na série. Embora não sejam o foco central, elas exercem influência nas atividades criminosas, particularmente no tráfico de drogas e contrabando de armas. Suas operações subterrâneas e conexões internacionais adicionam uma dimensão global ao mundo das gangues de motociclistas retratado em "Sons of Anarchy". Embora não estejam diretamente envolvidas em conflitos com o SAMCRO, a presença das Chinese Triads amplia a escala das atividades criminosas da série, revelando como as redes criminosas podem se estender além das fronteiras locais, desencadeando uma série de consequências complexas.</p>
        </div>
        <div class="club-logo">
            <img [src]="clubLogo" alt="Henry Lin membro chefe dos Chinese Triads">
        </div>
    </section>
</div>