<div class="wrapper">
    <section class="club-container">
        <div class="club-info">
            <h1>Mayans Motorcycle Club</h1>
            <h3>Mayans MC</h3>
            <hr>
            <p>Uma gangue de motociclistas de origem latina que opera principalmente na Califórnia e no Arizona. Os Mayans têm uma relação ambígua com o SAMCRO, alternando entre alianças estratégicas e conflitos violentos. Eles também estão envolvidos no tráfico de drogas e em outras atividades criminosas, enquanto lutam para manter seu domínio sobre seus territórios e recursos.</p>
        </div>
        <div class="club-logo">
            <img [src]="clubLogo" alt="Símbolo do clube Mayans MC">
        </div>
    </section>
</div>