<div class="wrapper">
    <section class="club-container">
        <div class="club-info">
            <h1>Jackson "Jax" Teler</h1>
            <h3>SAMCRO - Men of Mayhem</h3>
            <hr>
            <p>Jax Teller é um personagem complexo e conflituoso. Ele é membro do clube desde o início da série e eventualmente se torna o vice-presidente do SAMCRO. A trama de Jax é marcada por seu desejo de equilibrar sua lealdade ao clube com sua crescente desilusão com a direção criminosa que o SAMCRO tomou. Inspirado pelas filosofias e ideais expressos nas cartas deixadas por seu pai, John Teller, Jax busca uma maneira de tirar o clube do caminho da ilegalidade e da violência.</p>
    </div>
    <div class="club-logo">
        <img [src]="memberPhoto" alt="Jax Teller">
    </div>
</section>
</div>